auth/client/src/main/resources/schema/encrypted-expression-1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
    <!--
      ~ JBoss, Home of Professional Open Source.
      ~ Copyright 2023 Red Hat, Inc., and individual contributors
      ~ as indicated by the @author tags.
      ~
      ~ Licensed under the Apache License, Version 2.0 (the "License");
      ~ you may not use this file except in compliance with the License.
      ~ You may obtain a copy of the License at
      ~
      ~     http://www.apache.org/licenses/LICENSE-2.0
      ~
      ~ Unless required by applicable law or agreed to in writing, software
      ~ distributed under the License is distributed on an "AS IS" BASIS,
      ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
      ~ See the License for the specific language governing permissions and
      ~ limitations under the License.
    -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:encrypted:expression:1.0"
            xmlns="urn:encrypted:expression:1.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            version="1.0">

    <!-- Encrypted Expression elements -->
    <xsd:element name="encrypted-expression" type="encrypted-expression-type"/>

    <xsd:complexType name="encrypted-expression-type">
        <xsd:annotation>
            <xsd:documentation>
                Configuration for encrypted expressions and resolvers to be used across different client configurations.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:all>
            <xsd:element name="credential-stores" type="credential-stores-type" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="resolvers" type="resolvers-type" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="default-resolver" type="default-resolver-type" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <!-- Credential Stores elements -->
    <xsd:complexType name="credential-stores-type">
        <xsd:annotation>
            <xsd:documentation>
                Complex type to contain the definitions of all the credential stores used to back the resolvers configured.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="credential-store" type="credential-store-type" minOccurs="0" />
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="credential-store-type">
        <xsd:annotation>
            <xsd:documentation>
                An individual credential store definition used to back one or more resolver(s).
            </xsd:documentation>
        </xsd:annotation>

        <xsd:all minOccurs="0" maxOccurs="1">
            <xsd:element name="attributes" type="attributes-type" minOccurs="0" />
            <xsd:element name="protection-parameter-credentials" type="client-credentials-type" minOccurs="0" />
            <xsd:element name="providers" type="providers-type" minOccurs="0" />
        </xsd:all>

        <xsd:attribute name="name" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    The name of the credential store.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="type" type="xsd:string" default="KeyStoreCredentialStore" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    The credential store type, e.g. KeyStoreCredentialStore.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="provider" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    The name of the provider to use to instantiate the CredentialStoreSpi.
                    If the provider is not specified then the first provider found that can create an instance of the specified 'type' will be used.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="attributes-type">
        <xsd:annotation>
            <xsd:documentation>
                Complex type to contain the definitions of the attributes.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="attribute" type="attribute-type"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="attribute-type">
        <xsd:annotation>
            <xsd:documentation>
                An individual attribute definition.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="name" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    Name used for referencing the attribute.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="value" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    The value of the attribute.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="client-credentials-type">
        <xsd:annotation>
            <xsd:documentation>
                One or more credentials to be assembled into a protection parameter when initialising the credential store.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="clear-password" type="clear-password-type"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="clear-password-type">
        <xsd:annotation>
            <xsd:documentation>
                A clear password definition.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="password" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    A password specified in the clear.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="providers-type">
        <xsd:annotation>
            <xsd:documentation>
                Define how java.security.Provider instances are located when required.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:all minOccurs="0">
            <xsd:element name="global" type="empty-type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        The providers from java.security.Security.getProviders()
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
            <xsd:element name="use-service-loader" type="module-ref-type" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        Providers loaded using service loader discovery from the module specified,
                        if no module is specified the ClassLoader which loaded the authentication client is used.
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="empty-type"/>

    <xsd:complexType name="module-ref-type">
        <xsd:annotation>
            <xsd:documentation>
                Module reference.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="module-name" type="xsd:string" use="optional">
            <xsd:annotation>
                <xsd:documentation>
                    Module name.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <!--    resolver attributes     -->
    <xsd:complexType name="resolvers-type">
        <xsd:annotation>
            <xsd:documentation>
                List of all the resolvers used in encrypted expressions.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="resolver" type="resolver-type">
            <xsd:annotation>
                <xsd:documentation>
                    Individual resolvers listed in the configuration. They are used to handle the encrypted expressions.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="resolver-type">
        <xsd:annotation>
            <xsd:documentation>
                Individual resolver used to handle encrypted expressions.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="name" type="xsd:string" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    Name of the resolver.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="credential-store" type="credential-store-type" use="required">
            <xsd:annotation>
                <xsd:documentation>
                    The keystore used to back this resolver.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
        <xsd:attribute name="alias" >
            <xsd:annotation>
                <xsd:documentation>
                    Alias for the key used to handle the encrypted expression.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="default-resolver-type">
        <xsd:annotation>
            <xsd:documentation>
                The default resolver to be used if the resolver for an encrypted expression is not defined.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="name" type="resolver-type">
            <xsd:annotation>
                <xsd:documentation>
                    Name of the default resolver to be used if the resolver for an encrypted expression is not defined.
                </xsd:documentation>
            </xsd:annotation>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>