src/main/resources/schema/elytron-1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ JBoss, Home of Professional Open Source.
  ~ Copyright 2014 Red Hat, Inc., and individual contributors
  ~ as indicated by the @author tags.
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:elytron:1.0"
            xmlns="urn:elytron:1.0"
            elementFormDefault="qualified"
            attributeFormDefault="unqualified"
            version="1.0">

    <!-- File-backed realm elements -->

    <xsd:element name="identity" type="identity-type"/>

    <xsd:complexType name="identity-type">
        <xsd:all minOccurs="1" maxOccurs="1">
            <xsd:element name="credentials" type="credentials-type" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="attributes" type="attributes-type" minOccurs="0" maxOccurs="1"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="credentials-type">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="password" type="credential-type"/>
            <xsd:element name="otp" type="otp-credential-type"/>
            <xsd:element name="public-key" type="credential-type"/>
            <xsd:element name="certificate" type="credential-type"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="attributes-type">
        <xsd:choice minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="attribute" type="attribute-type"/>
        </xsd:choice>
    </xsd:complexType>

    <xsd:complexType name="credential-type">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="algorithm" type="xsd:string" use="optional"/>
                <xsd:attribute name="format" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="otp-credential-type">
        <xsd:simpleContent>
            <xsd:extension base="xsd:string">
                <xsd:attribute name="algorithm" type="xsd:string" use="optional"/>
                <xsd:attribute name="hash" type="xsd:string" use="optional"/>
                <xsd:attribute name="seed" type="xsd:string" use="optional"/>
                <xsd:attribute name="sequence" type="xsd:string" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:complexType name="attribute-type">
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="value" type="xsd:string" use="required"/>
    </xsd:complexType>

    <!-- Authentication client elements -->

    <xsd:element name="authentication-client" type="authentication-client-type"/>

    <xsd:complexType name="authentication-client-type">
        <xsd:all>
            <xsd:element name="key-stores" type="key-stores-type" minOccurs="0"/>
            <xsd:element name="rules" type="authentication-client-rules-type" minOccurs="0"/>
            <xsd:element name="net-authenticator" type="empty-type" minOccurs="0"/>
            <xsd:element name="ssl-context-rules" type="ssl-context-rules-type" minOccurs="0"/>
            <xsd:element name="ssl-contexts" type="ssl-contexts-type" minOccurs="0"/>
        </xsd:all>
    </xsd:complexType>

    <xsd:complexType name="ssl-contexts-type">
        <xsd:all>
            <xsd:element name="key-store-ssl-certificate" type="key-store-ref-type" minOccurs="0"/>
            <xsd:element name="cipher-suite" type="ssl-cipher-selector-type" minOccurs="0"/>
            <xsd:element name="protocol" type="names-list-type" minOccurs="0"/>
            <xsd:element name="provider-name" type="name-type" minOccurs="0"/>
            <xsd:choice minOccurs="0">
                <xsd:element name="use-system-providers" type="empty-type"/>
                <xsd:element name="use-module-providers" type="module-ref-type"/>
            </xsd:choice>
        </xsd:all>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="ssl-context-rules-type">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="rule" type="ssl-context-rule-type" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:group name="match-rule-group">
        <xsd:all>
            <xsd:element name="match-no-userinfo" type="empty-type" minOccurs="0"/>
            <xsd:element name="match-userinfo" type="name-type" minOccurs="0"/>
            <xsd:element name="match-protocol" type="name-type" minOccurs="0"/>
            <xsd:element name="match-host" type="name-type" minOccurs="0"/>
            <xsd:element name="match-path" type="name-type" minOccurs="0"/>
            <xsd:element name="match-port" type="port-number-type" minOccurs="0"/>
            <xsd:element name="match-urn" type="name-type" minOccurs="0"/>
            <xsd:element name="match-domain" type="name-type" minOccurs="0"/>
        </xsd:all>
    </xsd:group>

    <xsd:complexType name="ssl-context-rule-type">
        <xsd:sequence minOccurs="1" maxOccurs="1">
            <xsd:group ref="match-rule-group" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:choice>
                <xsd:element name="use-ssl-context" type="name-type"/>
                <xsd:element name="use-default-ssl-context" type="empty-type"/>
            </xsd:choice>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="authentication-client-rules-type">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="rule" type="authentication-client-rule-type" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="authentication-client-rule-type">
        <xsd:sequence minOccurs="1" maxOccurs="1">
            <xsd:group ref="match-rule-group" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:all>
                <xsd:element name="set-host" type="name-type" minOccurs="0"/>
                <xsd:element name="set-port" type="port-number-simple-type" minOccurs="0"/>
                <xsd:choice minOccurs="0">
                    <xsd:element name="set-user-name" type="name-type" minOccurs="0"/>
                    <xsd:element name="set-anonymous" type="empty-type" minOccurs="0"/>
                </xsd:choice>
                <xsd:element name="set-mechanism-realm" type="optional-name-type" minOccurs="0"/>
                <xsd:element name="rewrite-user-name-regex" type="regex-substitution-type" minOccurs="0"/>
                <xsd:element name="allow-all-sasl-mechanisms" type="empty-type" minOccurs="0"/>
                <xsd:element name="allow-sasl-mechanisms" type="names-list-type" minOccurs="0"/>
                <xsd:element name="forbid-sasl-mechanisms" type="names-list-type" minOccurs="0"/>
                <xsd:element name="set-mechanism-properties" type="properties-type" minOccurs="0"/>
                <xsd:element name="key-store-credential" type="key-store-ref-type" minOccurs="0"/>
                <xsd:element name="clear-password" type="clear-password-type" minOccurs="0"/>
                <xsd:element name="set-authorization-name" type="name-type" minOccurs="0"/>
                <xsd:choice minOccurs="0">
                    <xsd:element name="use-system-providers" type="empty-type"/>
                    <xsd:element name="use-module-providers" type="module-ref-type"/>
                </xsd:choice>
            </xsd:all>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="key-stores-type">
        <xsd:sequence minOccurs="0" maxOccurs="unbounded">
            <xsd:element name="key-store" type="key-store-type"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="key-store-type">
        <xsd:sequence minOccurs="1" maxOccurs="1">
            <!-- Access source type -->
            <xsd:choice minOccurs="1" maxOccurs="1">
                <xsd:element name="file" type="name-type" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="load-from" type="uri-type" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="resource" type="name-type" minOccurs="1" maxOccurs="1"/>
            </xsd:choice>
            <!-- Protection parameter -->
            <xsd:choice minOccurs="0" maxOccurs="1">
                <xsd:element name="key-store-credential" type="key-store-ref-type" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="key-store-clear-password" type="clear-password-type" minOccurs="1" maxOccurs="1"/>
            </xsd:choice>
        </xsd:sequence>
        <xsd:attribute name="name" type="xsd:string" use="required"/>
        <xsd:attribute name="type" type="xsd:string" use="required"/>
        <xsd:attribute name="provider" type="xsd:string" use="optional"/>
        <xsd:attribute name="wrap-passwords" type="xsd:boolean" use="optional" default="false"/>
    </xsd:complexType>

    <xsd:complexType name="key-store-ref-type">
        <!-- Protection parameter -->
        <xsd:choice minOccurs="0" maxOccurs="1">
            <xsd:element name="key-store-credential" type="key-store-ref-type" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="key-store-clear-password" type="clear-password-type" minOccurs="1" maxOccurs="1"/>
        </xsd:choice>
        <xsd:attribute name="key-store-name" type="xsd:string" use="required"/>
        <xsd:attribute name="alias" type="xsd:string" use="required"/>
    </xsd:complexType>

    <!-- Common types -->

    <xsd:complexType name="empty-type"/>

    <xsd:complexType name="name-type">
        <xsd:attribute name="name" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="optional-name-type">
        <xsd:attribute name="name" type="xsd:string" />
    </xsd:complexType>

    <xsd:complexType name="ssl-cipher-selector-type">
        <xsd:attribute name="selector" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="module-ref-type">
        <xsd:attribute name="module-name" type="xsd:string" use="required"/>
        <xsd:attribute name="slot" type="xsd:string" use="optional"/>
    </xsd:complexType>

    <xsd:complexType name="port-number-type">
        <xsd:attribute name="number" type="port-number-simple-type" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="port-number-simple-type">
        <xsd:restriction base="xsd:positiveInteger">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="65535"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="regex-substitution-type">
        <xsd:attribute name="pattern" type="xsd:string" use="required"/>
        <xsd:attribute name="replacement" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="names-list-type">
        <xsd:attribute name="names" type="names-list-simple-type" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="names-list-simple-type">
        <xsd:list itemType="xsd:string"/>
    </xsd:simpleType>

    <xsd:complexType name="uri-type">
        <xsd:attribute name="uri" type="xsd:anyURI" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="clear-password-type">
        <xsd:attribute name="password" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="properties-type">
        <xsd:sequence>
            <xsd:element name="property" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:attribute name="key" type="xsd:string" use="required" />
                    <xsd:attribute name="value" type="xsd:string" use="required" />
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>